{% extends 'base.html.twig' %}

{% block title %}cgv{% endblock %}

{% block body %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}

<img src="" alt="">
<img src="" alt="">
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <article class="article">
                <h1>CGV</h1>
                <h2>Conditions Générales de Vente (CGV)</h2>
                <p>CONDITIONS GÉNÉRALES DE VENTE
                    Clause n° 1 : Application des Conditions Générales de Vente
                    Toutes les prestations accomplies par la société LABEL EXPERIENCE sont régies exclusivement par les
                    présentes conditions générales de vente (ci-après :
                    les « CGV »), lesquelles sont annexées à tout devis présenté au client.
                    Le client, qui déclare avoir la pleine capacité juridique au moment de la signature du devis,
                    reconnaît avoir pris connaissance des CGV et les accepter sans
                    réserve.
                    Les éventuelles conditions générales d’achat du client sont sans effet, sauf accord préalable et
                    exprès de LABEL EXPERIENCE.
                    LABEL EXPERIENCE se réserve le droit de modifier à tout moment les CGV.
                    Clause n° 2 : Devis – confirmation de commande
                    Les devis de LABEL EXPERIENCE sont sans engagement et ont une validité de quinze jours, sauf mention
                    contraire écrite.
                    LABEL EXPERIENCE n’est engagée vis-à-vis du client et de sa commande qu’à réception effective, par
                    email ou par courrier recommandé, du devis signé.
                    Une fois le devis signé, toute demande de report ou de modification de la commande fera l’objet d’un
                    nouveau devis ou d’un avenant.
                    Les prestations listées dans le devis doivent être réalisées conjointement. Si le client souhaite
                    faire réaliser certaines des prestations plus tard, cela ferait
                    l'objet d'un devis supplémentaire.
                    Clause n° 3 : Prix – Modalités de paiement
                    Sauf accord contraire, les prix sont libellés en euros et exprimés hors taxes (HT). Par voie de
                    conséquence, ils seront majorés du taux de TVA applicable au
                    jour de la signature du devis.
                    Sauf accord contraire précisé dans le devis des honoraires, un acompte correspondant à 30 % du prix
                    total HT de la commande doit être payé au moment
                    de la signature du devis, un second acompte de 30% du prix total pourra être demandé à mi-projet, le
                    solde devant alors être réglé au moment de la
                    livraison des prestations listées dans le devis.
                    Sauf accord contraire précisé dans le devis des honoraires, les factures de LABEL EXPERIENCE sont
                    payables nettes et sans escompte, dans un délai de
                    quarante-cinq jours à compter de leur date d’émission.
                    En cas de retard de paiement, LABEL EXPERIENCE pourra facturer des pénalités de retard correspondant
                    au taux d'intérêt appliqué par la Banque Centrale
                    Européenne à son opération de refinancement la plus récente majoré de 10 points de pourcentage.
                    Conformément à l’article L.441-6 du Code de commerce, en cas de retard de paiement, le client devra
                    régler à LABEL EXPERIENCE l'indemnité forfaitaire
                    pour frais de recouvrement dont le montant est fixé à 40 Euros. Lorsque les frais de recouvrement
                    exposés seront supérieurs au montant de cette
                    indemnité forfaitaire, LABEL EXPERIENCE se réservera la faculté de demander une indemnisation
                    complémentaire.
                    Clause n° 4 : Responsabilités et Obligations
                    LABEL EXPERIENCE fournit des préconisations en termes d’agencement de mobilier et d’aménagement de
                    lieux.
                    Elle n’agit en aucun cas en tant que maître d’oeuvre ou contractant général, et en ce sens elle
                    n’est pas soumise à la garantie décennale. De même elle ne
                    saurait être responsable en cas de litige portant notamment sur les prises de mesures, les côtes et
                    les plans.
                    Les préconisations de LABEL EXPERIENCE ne sont que des propositions devant être validées par les
                    techniciens compétents, notamment lorsque cela
                    affecte l’agencement, le second oeuvre et le gros œuvre. L’entreprise en charge des travaux et de
                    l’agencement se doit de recueillir l’aval de ces
                    techniciens et doit s’assurer que les travaux sont conformes à leurs prescriptions techniques, avant
                    de les réaliser.
                    Par conséquent, LABEL EXPERIENCE ne saurait être tenue pour responsable de tout dommage, direct ou
                    indirect, lié à la réalisation des recommandations
                    d’agencement de LABEL EXPERIENCE.
                    Plus globalement, LABEL EXPERIENCE s’engage à apporter tout le soin et la diligence nécessaires à
                    l’exécution des prestations listées dans ses devis.
                    Les délais de livraison pouvant être communiqués sur le devis ne sont fournis qu’à titre indicatif.
                    En cas de retard de livraison de nos prestations par
                    rapport à la date escomptée, le client ne pourra pas engager la responsabilité de LABEL EXPERIENCE.
                    LABEL EXPERIENCE est tenu à une obligation de moyens quant à l’exécution des prestations listées
                    dans les devis. Elle s’engage donc à mettre en œuvre
                    tous les moyens nécessaires pour parvenir au résultat escompté. En cas de difficultés, il appartient
                    au client d’apporter la preuve de la défaillance de
                    LABEL EXPERIENCE dans l’exécution de ses obligations.
                    Dans l’hypothèse où la responsabilité de LABEL EXPERIENCE serait engagée pour manquement à l’une ou
                    l’autre de ses obligations, le client reconnaît et
                    admet que LABEL EXPERIENCE ne sera jamais responsable des dommages indirects ou immatériels tels que
                    le trouble commercial, la perte de profit, la
                    perte de contrat, la perte de chance, le préjudice d’image.
                    En cas de dommages directs, la responsabilité de LABEL EXPERIENCE sera, d'un commun accord, limitée
                    aux sommes effectivement versées par le client
                    dans le cadre de sa commande.
                    LABEL EXPERIENCE ne saurait être tenue pour responsable d’un manquement à l’une ou l’autre de ses
                    obligations si ce manquement a été causé par un
                    événement ayant un caractère de force majeure au sens de la jurisprudence française.
                    De façon expresse, sont considérés comme cas de force majeure : les grèves totales ou partielles
                    internes ou externes aux parties, les intempéries, les
                    épidémies, les blocages des moyens de transport ou d'approvisionnement, les tremblements de terre,
                    les incendies, les tempêtes, les inondations, les
                    restrictions gouvernementales ou légales, les blocages des réseaux et services de télécommunications
                    et, de façon plus générale, tout autre cas
                    indépendant de la volonté expresse des parties empêchant l'exécution normale du présent contrat.
                    Clause n° 5 : Obligation de collaboration du client
                    1
                    CONDITIONS GÉNÉRALES DE VENTE
                    Le client s'engage à collaborer de bonne foi avec LABEL EXPERIENCE afin de lui permettre d'exécuter
                    ses prestations convenablement.
                    Le client s’engage à immédiatement communiquer, à la demande de LABEL EXPERIENCE, tous les éléments
                    et informations qu’elle jugera nécessaire à
                    l’exécution de ses obligations afin, notamment, de lui permettre de respecter le calendrier convenu.
                    Le client s'engage à allouer les moyens et le personnel nécessaire à la bonne exécution du contrat
                    en désignant un chef de projet.
                    Clause n° 6 : Conditions de prestation de la location de mobilier, service MOVABLE
                    Conditions de paiement
                    Sauf accord contraire précisé dans le devis, la totalité de la commande doit être payée au moment de
                    la signature du devis, par virement bancaire auprès
                    de LABEL EXPERIENCE.
                    Aucune prestation ne sera entreprise sans réception préalable du devis signé et du paiement. Il est
                    rappelé que l’acceptation du devis de location
                    implique l’acceptation des présentes conditions générales de vente.
                    Dans le cas où le devis devrait être modifié après signature, LABEL EXPERIENCE sera autorisée à
                    facturer au client les frais que ce changement serait
                    susceptible de générer.
                    Les prix HT indiqués sur le catalogue s’entendent hors frais de livraison, de montage et de
                    démontage. Par ailleurs, le matériel est loué hors accessoires et
                    consommables (ex : ampoule, piles, fixations, etc.). Certains articles sont montés, d’autres sont
                    démontés, ils sont à rendre dans l’état à réception, sauf
                    exception qui sera indiquée par Label Experience lors de la signature du devis.
                    Nos prix de location sont définis selon les barèmes suivants:
                    - Pour une location entre 1-3 jours, le prix de location du mobilier est égal à 20% de son prix de
                    vente HT.
                    - Pour une location entre 4-7 jours, le prix de location du mobilier est égal à 30% de son prix de
                    vente HT.
                    - Pour une location entre 8-14 jours, le prix de location du mobilier est égal à 40% de son prix de
                    vente HT.
                    - Pour une location entre 15-31 jours, le prix de location du mobilier est égal à 50% de son prix de
                    vente HT.
                    Ces prix sont susceptibles d’être modifiés à la marge. Toutefois, ces modifications ne concernent
                    pas les contrats en cours d’exécution : seuls les prix
                    mentionnés sur le devis engagent le client.
                    Conditions de livraison, de montage et de démontage
                    A la demande du client, LABEL EXPERIENCE peut organiser la logistique pour la livraison et le retour
                    du mobilier loué, en recourant à une entreprise. LABEL
                    EXPERIENCE se chargera de régler directement cette entreprise pour le compte du client. Dans cette
                    hypothèse, les frais de livraison et de retour du
                    mobilier loué seront intégrés dans le devis. Toutefois, il est admis que des frais complémentaires
                    et non prévus peuvent s’ajouter au montant initialement
                    prévu dans le devis (ex : volume des articles supérieur à l’estimation, temps allongé pour le
                    transport des pièces etc..). Le client sera alors tenu de régler
                    ces frais complémentaires sur présentation d’une facture de LABEL EXPERIENCE.
                    S’il le souhaite, le client peut organiser par ses propres moyens l’enlèvement et le retour au stock
                    de LABEL EXPERIENCE des articles loués, étant précisé
                    que le mobilier doit être retourné dans les cartons d’emballage de LABEL EXPERIENCE. Dans cette
                    hypothèse, le client est alors responsable des articles
                    loués dès la sortie du stock de LABEL EXPERIENCE jusqu'à leur retour. Pour éviter toute difficulté,
                    le client doit mettre en oeuvre toutes les conditions
                    nécessaires pour garantir la sécurité et la protection du matériel loué (main d’oeuvre suffisante
                    selon le volume à transporter, attaches et couvertures de
                    transport, etc.). Il est précisé que le stock est situé dans un sous-sol et que l’accès se fait par
                    un escalier.
                    A la demande du client, LABEL EXPERIENCE peut également organiser une prestation de montage /
                    démontage du mobilier loué. Cette prestation est alors
                    intégrée en supplément dans le devis. Elle est réalisée par une entreprise tiers. Cette prestation
                    peut également être prise en charge directement par le
                    client.
                    Etat du mobilier loué
                    Les articles loués peuvent présenter des traces d’usure liées à la location. L’état du mobilier loué
                    est précisé lors de l’envoi du devis. Cet état fait foi en cas
                    de contestation liée à l’état du mobilier loué. Il est admis que le client ne pourra pas refuser un
                    colis ou solliciter une indemnisation au motif que tel ou tel
                    article du mobilier présenterait des traces d’usure, dès lors qu’il aura préalablement été informé
                    de l’état du mobilier lors de la signature du devis.
                    Un bon de livraison est signé par le client à réception du mobilier dans ses locaux. Le client doit
                    procéder à la vérification du mobilier loué à réception, en
                    présence du transporteur, avant signature de ce bon de livraison. En cas d’endommagement du mobilier
                    lié au transport, le client peut refuser le colis.
                    Dans cette hypothèse, il doit impérativement faire état de ses observations sur le bon de livraison
                    du transporteur et prendre immédiatement attache avec
                    LABEL EXPERIENCE pour l’informer de la situation. Si l’endommagement est avéré, les frais de retour
                    seront à la charge de LABEL EXPERIENCE et un
                    mobilier de remplacement sera proposé au client si le stock de LABEL EXPERIENCE permet une telle
                    substitution. A défaut, LABEL EXPERIENCE procédera
                    au remboursement des articles endommagés.
                    Protection et entretien du matériel loué
                    Les cartons d'emballage doivent être conservés par le client. Dans le cas où le client n’aurait pas
                    la possibilité de les stocker et qu’ils devraient être
                    conservés dans le stock LABEL EXPERIENCE, les frais de transport de ces retours sont à la charge du
                    client. Il en est de même pour le transport à prévoir en
                    fin de location pour ramener les cartons d’emballage sur le lieu de location depuis le stock.
                    Dans le cas où le client n’aurait pas respecté l’obligation de conserver les cartons d’emballage de
                    LABEL EXPERIENCE après avoir réceptionné le mobilier
                    loué, LABEL EXPERIENCE sera contrainte de lui fournir de nouveaux cartons d’emballage préalablement
                    au retour du mobilier. Ces cartons d’emballage et
                    leurs frais d’envoi seront facturés au client.
                    Pendant toute la durée de mise à disposition du mobilier, le client est tenu d’assurer l’entretien
                    du matériel loué et de le protéger contre toute
                    dégradation, vandalisme, surcharge, taches ou rayures. Le client doit être couvert par une assurance
                    à hauteur de la valeur de remplacement du matériel
                    loué. La police d’assurance souscrite pourra être demandée par LABEL EXPERIENCE.
                    Le matériel loué est la propriété de LABEL EXPERIENCE, à ce titre il est insaisissable par les tiers
                    et le locataire - le client - n’a pas le droit de le céder, de le
                    prêter ou de le sous-louer. Il ne doit apporter aucune modification superficielle ou substantielle
                    au matériel.
                    Le matériel détérioré ou non restitué (complètement ou partiellement) sera facturé au client à sa
                    valeur de remplacement TTC à neuf indiquée sur le devis.
                    Fin de location et restitution du matériel
                    A échéance de la durée de mise à disposition du mobilier contractuellement prévue au devis, le
                    client est tenu de restituer le matériel loué dans l’état et le
                    conditionnement dans lequel il a été livré, avec tous les accessoires permettant son montage.
                    2
                    CONDITIONS GÉNÉRALES DE VENTE
                    Annulation de la prestation
                    Dans le cadre d’une annulation de la prestation, le paiement déjà versé reste acquis à LABEL
                    EXPERIENCE.
                    Toute annulation devra se faire par l’intermédiaire d’un écrit portant clairement la mention «
                    ANNULATION » accompagné du devis concerné à l’attention
                    du département de MOVABLE.
                    Clause n°7 : Achat mobilier et décoration
                    Sur demande écrite du client, LABEL EXPERIENCE peut s’occuper de commander le mobilier et/ou les
                    éléments de décoration que le client entend
                    acquérir. Dans ce cas, chaque commande comprend une liste précise de biens, qui doit être validée
                    par le client avant toute intervention de LABEL
                    EXPERIENCE.
                    Après validation du client, LABEL EXPERIENCE établira - et ce avant même la prise des commandes
                    effective du mobilier - une ou plusieurs factures au
                    nom du client incluant le prix de vente public Toutes Taxes Comprises, les coûts de livraison de
                    l’ensemble des biens de la commande ainsi qu’une
                    commission pour frais de gestion correspondant à 10% du prix total de la commande, des frais de
                    livraison et du coût du prestataire logistique.
                    Le solde dû ou le trop perçu éventuel, sera ajusté lors de facture finale du projet.
                    LABEL EXPERIENCE saisit, organise et suit l’ensemble des commandes.
                    Par défaut, la réception, le stockage et de la vérification des colis sont réalisés par un
                    prestataire logistique. Ce dernier effectue également le transport des
                    marchandises sur le chantier, le montage du mobilier et la reprise des emballages.
                    Parfois, LABEL EXPERIENCE s’engage à réceptionner et à vérifier l’état de chacun des biens de la
                    commande.
                    En cas de défaut de conformité ou d’endommagement, LABEL EXPERIENCE fera de son mieux, en fonction
                    de la situation, pour que le bien concerné soit
                    remplacé dans les meilleurs délais.
                    Dans le cas où le client choisisse de faire livrer les freestandings et autres achats directement à
                    son adresse (et non à un entrepôt de stockage-logistique
                    comme le préconise LABEL EXPERIENCE) les informations d’achats (budget des commandes et suivi de
                    livraison) seront partagées dans un tableau.
                    Dans l’onglet se suivi de livraison, le client sera tenu de renseigner “LIVRÉ” quand il aura bien
                    réceptionné la commande et de préciser le cas échéant les
                    problèmes. Le client devra émettre une réserve ou refuser un colis abîmé au moment de la livraison
                    et vérifier que tous les éléments reçus sont conformes
                    à la commande (ouvrir les colis et vérifier : état, références, quantités, tailles et coloris)
                    Le client informera LABEL EXPERIENCE des problèmes rencontrés (article défectueux, cassé, erreur
                    coloris ou autre...) au plus tard dans les 3 jours suivant
                    la livraison en le spécifiant dans l’onglet de suivi des livraisons et en informant LABEL EXPERIENCE
                    par email.
                    Certains fournisseurs avec lesquels travaillent LABEL EXPERIENCE demandent que le contrôle des colis
                    soit fait au moment même de la livraison en
                    présence du transporteur ou dans les 3 jours, LABEL EXPERIENCE précisera ces cas particuliers afin
                    qu’il soit possible de retourner un article. Passé ce
                    délai, LABEL EXPERIENCE ne pourra donc pas être tenu responsable des problèmes de commandes reçues.
                    Clause n° 8 : Annulation des prestations
                    En cas d’annulation de la prestation par le client après signature du devis portant sur les
                    honoraires, LABEL EXPERIENCE sera en droit d’exiger du client le
                    règlement intégral de ses prestations et ce quel que soit l’état d’avancement des prestations
                    prévues au devis.
                    A sa seule discrétion, LABEL EXPERIENCE pourra limiter ses demandes en paiement au prorata de
                    l’avancée de ses prestations concernant les projets
                    d’agencement.
                    Clause n° 9 : Résiliation
                    En cas de manquement par l’une des deux parties aux obligations du présent contrat non réparé dans
                    un délai de 7 jours à compter de la réception de la
                    lettre recommandée avec accusé de réception notifiant le manquement en cause, l’autre partie pourra
                    résilier de plein droit le contrat en cours par
                    courrier recommandé avec accusé de réception, sans préjudice de tous dommages et intérêts auxquels
                    elle pourra prétendre.
                    En cas de résiliation concernant les projets d’agencement, le client conservera le résultat des
                    prestations exécutées jusqu’à la date de prise d’effet de la
                    résiliation, sous réserve du paiement complet de la rémunération exigible sur lesdits résultats et
                    prestations. Par ailleurs, le client ne pourra pas exiger le
                    remboursement des prestations réalisées à la date de la résiliation.
                    Clause n° 10 : Propriété Intellectuelle
                    LABEL EXPERIENCE détient sur ses créations les droits d’auteur patrimoniaux et moraux. Le client se
                    doit de citer Label Experience s’il souhaite diffuser sur
                    supports papiers et digitaux tous les contenus produits, directement ou indirectement, par Label
                    Experience (moodboards, élévations, 3Ds, photos, etc.)
                    Sous réserve d’un rachat par le client des droits cessibles, LABEL EXPERIENCE pourra céder à titre
                    exclusif à ce dernier l’intégralité de ses droits cessibles.
                    Cela est notamment indispensable si le client souhaite continuer à développer et reproduire - sans
                    l’aide de Label Experience - le concept crée et déployé
                    par Label Experience dans le cadre de ses prestations pour le client.
                    Conformément aux dispositions des articles L. 122-7 et L. 131-3 du Code de la Propriété
                    Intellectuelle, il est précisé que les droits cessibles comprennent :
                    le droit de reproduction, le droit de représentation, le droit d’adaptation, le droit de
                    distribution, et le droit de céder des droits sur tout ou partie des
                    créations et de ses éléments à tout tiers, sous quelque forme que ce soit et par tout type de
                    contrat, à titre temporaire, ou définitif, onéreux ou gratuit.
                    La cession des droits de propriété intellectuelle est effectuée pour une exploitation dans le monde
                    entier et pour toute la durée légale de protection des
                    droits de propriété intellectuelle telle que reconnue par les lois présentes ou à venir.
                    En cas de rachat des droits cessibles par le client, le respect du droit moral de LABEL EXPERIENCE
                    impose au client (cessionnaire et potentiels
                    cessionnaires successifs) l’obligation de faire figurer sur tous les documents qui feront l’objet de
                    la cession, une mention expresse indiquant que le
                    concept original a été créé et développé par Label Experience avec l’indication au minimum de son
                    immatriculation au registre du commerce.
                    LABEL EXPERIENCE se réserve le droit de prendre des photos (ou d’utiliser les photos prises en
                    créditant le photographe) de l’espace avant, pendant et
                    après le changement réalisé pour les utiliser sur tous ses supports papiers et digitaux. Le client
                    accepte l’exploitation des éléments du projet réalisé ou des
                    photos prises au cours de la réalisation du projet.
                    Clause 11 : Références commerciales
                    3
                    CONDITIONS GÉNÉRALES DE VENTE
                    LABEL EXPERIENCE pourra faire état du nom du client et des créations réalisées pour ce dernier à
                    titre de référence commerciale dès la signature du
                    présent contrat.
                    Clause n° 12 : Tribunal compétent
                    Le présent contrat est régi par le droit français.
                    SEUL LE TRIBUNAL DE COMMERCE DE BORDEAUX SERA COMPÉTENT EN CAS DE LITIGE QUANT À L'INTERPRÉTATION
                    ET/OU L'EXÉCUTION DU PRÉSENT
                    CONTRA</p>
                {% endblock %}