{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <h2>Formulaire de Contact</h2>
            {{ form(form) }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success mt-4">
                        {{ message }}
                    {% endfor %}
                </div>
            
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/contact.js') }}"></script>
{% endblock %}

{# <div class="form-wrapper">
        <form>
          <div class="top-wrapper">
            <div class="input">
              <label>Nom</label>
              <input type="text" name="nom" />
            </div>
            <div class="input">
              <label>Téléphone</label>
              <input type="text" name="telephone" />
            </div>
            <div class="input">
              <label>Email</label>
              <input type="text" name="email" />
            </div>
          </div>
          <div class="bottom-wrapper">
            <div class="input">
              <label>Sujet</label>
              <input type="text" name="sujet" />
            </div>
            <div class="input">
              <label>Message</label>
              <textarea rows="5" name="message"></textarea>
            </div>

            <input type="submit" class="submit-card" on-click="toggle('flipCard')>
             <div class="submit">
              <div class="submit-card" on-click="toggle('flipCard')">Envoyer le message</div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="postcard-footer">
      <p>Envoyez-nous un message !</p>
    </div>
  </div>
</div>  #}



{# SALUT #}
