{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <h2>Formulaire de Contact</h2>
            {{ form(form) }}
            {% if app.flashes('success')|length > 0 %}
                <div class="custom-alert">
                    {% for message in app.flashes('success') %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/contact.js') }}"></script>
{% endblock %}
