{% extends 'base.html.twig' %}

{% block title %}Hello CookiesController!{% endblock %}

{% block body %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}

<img src="" alt="">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <article>
          <h1 class="text-center">Politique des Cookies</h1>
          <p>
            Chez ADEI, nous utilisons des cookies sur notre site web pour améliorer votre expérience de navigation et vous offrir un service personnalisé. Les cookies sont de petits fichiers texte stockés sur votre appareil lorsque vous visitez notre site. Ils nous permettent de reconnaître votre appareil et de vous fournir des fonctionnalités telles que la personnalisation du contenu, la sauvegarde de vos préférences et l'analyse de l'utilisation du site.
          </p>
          <p>
            Les cookies que nous utilisons peuvent être classés en plusieurs catégories :
          </p>
          <ul>
            <li>Cookies essentiels : Ces cookies sont nécessaires au fonctionnement de base de notre site web et sont généralement activés en permanence. Ils incluent des cookies qui vous permettent de vous connecter à votre compte, d'ajouter des produits à votre panier et de passer à la caisse en toute sécurité.</li>
            <li>Cookies de performance : Ces cookies nous aident à améliorer les performances de notre site web en collectant des informations anonymes sur la manière dont vous l'utilisez. Ils nous permettent de comprendre quelles pages sont les plus populaires, quelles sont les erreurs éventuelles et comment les visiteurs interagissent avec le site.</li>
            <li>Cookies de fonctionnalité : Ces cookies permettent au site web de se souvenir des choix que vous avez faits, tels que votre nom d'utilisateur, votre langue préférée ou la région dans laquelle vous vous trouvez. Ils nous aident à personnaliser votre expérience et à vous fournir des fonctionnalités améliorées et plus personnalisées.</li>
            <li>Cookies de publicité : Ces cookies sont utilisés pour vous présenter des publicités pertinentes pour vos intérêts. Ils peuvent être utilisés pour cibler la publicité en fonction de votre historique de navigation, partager des données avec des tiers à des fins publicitaires ou mesurer l'efficacité des campagnes publicitaires.</li>
          </ul>
          <p>
            En utilisant notre site web, vous consentez à l'utilisation des cookies conformément à notre politique. Vous pouvez gérer vos préférences en matière de cookies en modifiant les paramètres de votre navigateur ou en utilisant les outils de gestion des cookies fournis par certains navigateurs.
          </p>
          <p>
            Pour en savoir plus sur notre utilisation des cookies et sur la manière dont nous protégeons vos informations personnelles, veuillez consulter notre politique de confidentialité.
          </p>
        </article>
      </div>
    </div>
  </div>
{% endblock %}

