{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <article>
          <h1 class="text-center">Conditions Générales d'Utilisation</h1>
          <p>
            Merci de lire attentivement ces Conditions Générales d'Utilisation (CGU) avant d'utiliser notre site web. En accédant et en utilisant ce site, vous acceptez d'être lié par ces CGU. Si vous n'acceptez pas ces CGU, veuillez ne pas utiliser notre site.
          </p>
          <p>
            Chez ADEI, nous nous efforçons de maintenir notre site web à jour et de veiller à ce que les informations qu'il contient soient exactes et complètes. Cependant, nous ne pouvons garantir l'exactitude, l'intégralité ou la pertinence des informations fournies sur notre site. L'utilisation des informations contenues sur ce site se fait donc à vos propres risques.
          </p>
          <p>
            L'utilisation de notre site web est soumise aux conditions suivantes :
          </p>
          <ol>
            <li>Vous êtes autorisé à accéder et à utiliser notre site web à des fins personnelles et non commerciales.</li>
            <li>Vous acceptez de ne pas utiliser notre site web d'une manière qui pourrait porter atteinte à sa sécurité, à son fonctionnement ou à l'accès des autres utilisateurs.</li>
            <li>Vous acceptez de ne pas copier, reproduire, distribuer, publier, afficher, modifier ou transmettre toute partie de notre site web sans notre autorisation écrite préalable.</li>
            <li>Vous êtes responsable de maintenir la confidentialité de vos informations d'identification et de restreindre l'accès à votre compte.</li>
            <li>Nous nous réservons le droit de modifier, de suspendre ou de résilier notre site web, y compris ces CGU, à tout moment et sans préavis.</li>
          </ol>
          <p>
            En utilisant notre site web, vous acceptez de vous conformer à ces CGU et à toutes les lois et réglementations applicables. Si vous ne respectez pas ces CGU, nous nous réservons le droit de restreindre ou de résilier votre accès à notre site web.
          </p>
          <p>
            Pour plus d'informations sur notre utilisation des données personnelles, veuillez consulter notre politique de confidentialité.
          </p>
        </article>
      </div>
    </div>
  </div>

  {% endblock %}
