{% extends 'base.html.twig' %}

{% block title %}Hello BonsDeReductionController!{% endblock %}

{% block body %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <article class="article">
                    <h1>Bons de Réduction</h1>
                    <h2>Profitez d'économies sur vos achats</h2>
                    
                    <p>
                        Chez notre entreprise, nous aimons récompenser nos clients fidèles et leur offrir des avantages exclusifs. C'est pourquoi nous proposons des bons de réduction, vous permettant de réaliser des économies sur vos achats.
                    </p>
                    
                    <p>
                        Nos bons de réduction sont disponibles pour une large gamme de produits, allant des vêtements aux accessoires, en passant par les produits électroniques et bien plus encore. Vous pouvez les utiliser lors de vos achats en ligne ou en magasin, selon vos préférences.
                    </p>
                    
                    <p>
                        Pour profiter de nos bons de réduction, il vous suffit de les ajouter à votre panier lors de votre commande en ligne ou de les présenter à la caisse lors de votre passage en magasin. Les réductions seront appliquées automatiquement, vous permettant ainsi de faire des économies instantanées.
                    </p>
                    
                    <p>
                        De plus, nous proposons régulièrement des offres spéciales et des promotions exclusives réservées aux porteurs de nos bons de réduction. Cela signifie que vous pouvez bénéficier de remises supplémentaires, de cadeaux ou d'autres avantages réservés uniquement à nos clients fidèles.
                    </p>
                    
                    <p>
                        Nous mettons à jour nos bons de réduction régulièrement, alors assurez-vous de consulter notre site web ou de vous abonner à notre newsletter pour ne manquer aucune offre spéciale. N'hésitez pas à partager ces bons avec vos proches, afin qu'ils puissent également profiter des économies sur leurs achats.
                    </p>
                    
                    <p>
                        Chez notre entreprise, nous croyons en la valeur de nos clients et nous souhaitons vous remercier pour votre soutien continu. C'est pourquoi nous vous offrons ces bons de réduction, pour vous permettre de faire des économies tout en profitant de la qualité de nos produits.
                    </p>
                </article>
            </div>
        </div>
    </div>
{% endblock %}

