{% extends 'base.html.twig' %}

{% block title %}faqs{% endblock %}

{% block body %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <article class="article">
                    <h1>FAQs</h1>
                    <h2>Les questions fréquemment posées</h2>
                    
                    <p>
                       Qu'est-ce que Lorem Ipsum?
                    </p>
                    <p>
                       Lorem Ipsum est simplement un texte factice de l'industrie de l'impression et de la composition. Lorem Ipsum est le texte factice standard de l'industrie depuis les années 1500, lorsqu'un imprimeur anonyme a assemblé ensemble des morceaux de texte pour créer un livre spécimen de polices de caractères. Il n'a pas survécu seulement cinq siècles, mais aussi le saut dans la composition électronique, demeurant essentiellement inchangé. Il a été popularisé dans les années 1960 avec la sortie des feuilles Letraset contenant des passages du Lorem Ipsum, et plus récemment avec des logiciels de mise en page comme Aldus PageMaker incluant des versions de Lorem Ipsum.
                    </p>
                    
                    <p>
                       Pourquoi l'utiliser?
                    </p>
                    <p>
                       Il existe de nombreuses variations de passages de Lorem Ipsum disponibles, mais la majorité ont subi des altérations de quelque sorte, par injection d'humour, ou de mots aléatoires qui ne semblent même pas un peu crédibles. Si vous voulez utiliser un passage du Lorem Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché dans le texte. Tous les générateurs de Lorem Ipsum sur Internet ont tendance à reproduire le même morceau sans fin.
                    </p>
                    
                    <p>
                        D'où vient-il?
                    </p>
                    <p>
                        Contrairement à une opinion répandue, le Lorem Ipsum n'est pas simplement du texte aléatoire. Il trouve ses racines dans une œuvre de la littérature latine classique datant de 45 av. J.-C., le rendant vieux de 2000 ans. Richard McClintock, professeur de latin au Hampden-Sydney College en Virginie, a recherché l'un des mots latins les plus obscurs, consectetur, extrait d'un passage du Lorem Ipsum, et en étudiant tous les usages de ce mot dans la littérature classique, découvrit la source incontestable du Lorem Ipsum. Il provient en fait des sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" (Des Suprêmes Biens et des Suprêmes Maux) de Cicéron. Cet ouvrage, très populaire pendant la Renaissance, est un traité sur la théorie de l'éthique. Les premières lignes du Lorem Ipsum, "Lorem ipsum dolor sit amet...", proviennent de la section 1.10.32.
                    </p>
                    
                    <p>
                        Où puis-je en obtenir?
                    </p>
                    <p>
                        Il y a plusieurs variations du Lorem Ipsum disponibles, mais la plupart ont été altérées d'une manière ou d'une autre, par de l'humour injecté, ou des mots aléatoires qui ne ressemblent pas une seconde à du texte standard. Si vous avez l'intention d'utiliser un passage du Lorem Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché dans le texte. Tous les générateurs de Lorem Ipsum sur Internet ont tendance à reproduire le même extrait sans fin, ce qui fait de lui le premier vrai générateur sur Internet. Il utilise un dictionnaire de plus de 200 mots latins, combiné avec une poignée de modèles de structures de phrases, pour générer du Lorem Ipsum qui semble crédible. Ainsi, le Lorem Ipsum généré est toujours exempt de répétition, d'humour injecté, ou de mots non caractéristiques, etc.
                    </p>
                </article>
            </div>
        </div>
    </div>
{% endblock %}

