{% extends 'base.html.twig' %}

{% block title %}Reglement Interieur{% endblock %}

{% block body %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}


<img src="" alt="">
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <article>
                <h1 class="text-center">Règlement Intérieur</h1>
                <h2 class="text-center">But du règlement</h2>
                <p>
                    Le Règlement Intérieur a pour objectif de définir les règles de conduite et de fonctionnement au
                    sein de notre organisation. Il vise à assurer la sécurité, le respect mutuel et la bonne
                    collaboration entre tous les membres de notre communauté.
                </p>
                <h2 class="text-center">Respect des horaires</h2>
                <p>
                    Il est primordial de respecter les horaires de travail établis. Les membres de l'organisation
                    doivent être présents et ponctuels aux réunions, aux rendez-vous et aux événements organisés. Tout
                    retard ou absence injustifiée devra être signalé à l'avance à la personne responsable.
                </p>
                <h2 class="text-center">Utilisation des équipements</h2>
                <p>
                    Les équipements et les ressources mis à disposition doivent être utilisés de manière responsable et
                    respectueuse. Il est strictement interdit de les utiliser à des fins personnelles ou non autorisées.
                    Tout dommage causé intentionnellement aux équipements sera passible de sanctions.
                </p>
                <h2 class="text-center">Confidentialité des informations</h2>
                <p>
                    Toutes les informations sensibles et confidentielles auxquelles les membres ont accès dans le cadre
                    de leur travail doivent être traitées avec la plus grande confidentialité. Il est formellement
                    interdit de divulguer ces informations à des tiers sans autorisation.
                </p>
            </article>
        </div>
    </div>
</div>{% endblock %}